# Node dependencies
node_modules/

# Nuxt dev/build outputs
/.cache/
/.data/
/.nitro/
/.nuxt/
/.output/
/dist/

# Test outputs
/tests/**/.output/
/tests/**/.report/

# Local env files
.env
.env.*
!.env.example
